.whackamole .board {
  margin: 0 auto;
  display: table;
}

.whackamole .cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.whackamole button.active {
  color: green;
}

.whackamole .cell.active {
  background-color: lightgreen;
}

.whackamole .cell.player {
  background-color: blue;
}

.whackamole .cell.ai {
  background-color: red;
}
